Celery
gevent
Django==4.1.7
djangorestframework
django-extensions==3.2.1
django-debug-toolbar==3.8.1
django-admin-rangefilter
django-import-export
django-storages
django-crispy-forms
crispy-bootstrap4
ipython==8.12.0
requests
beautifulsoup4
django-filter
djangorestframework-simplejwt
drf-yasg
model-bakery
djangorestframework-xml
djangorestframework-yaml
pymemcache
gunicorn
django-environ
psycopg2-binary
flower

# flake8
flake8
flake8-builtins
flake8-print

# pytest
pytest
pytest-django
pytest-cov
pytest-mock
