{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Contact Us
{% endblock title %}

{% block caption %}
    Contact Us
{% endblock caption %}

{% block content %}
  <a class="btn btn-outline-info" href="{% url 'currency:contact-us-create' %}">Create</a><br>
  <form method="get">
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ filter.form.name|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ filter.form.subject|as_crispy_field }}
      </div>
    </div>
    <input type="submit" class="btn btn-outline-info" value="Submit" />
  </form>
  <br>
  <div class="row col-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email from</th>
                <th scope="col">Subject</th>
                <th scope="col">Message</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for contactus in object_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ contactus.id }}</td>
                    <td>{{ contactus.name }}</td>
                    <td>{{ contactus.email_from }}</td>
                    <td>{{ contactus.subject }}</td>
                    <td>{{ contactus.message }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url 'currency:contact-us-details' contactus.id %}">Details</a>
                              <a class="dropdown-item" href="{% url 'currency:contact-us-update' contactus.id %}">Update</a>
                              <a class="dropdown-item" href="{% url 'currency:contact-us-delete' contactus.id %}">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
  </div>

{% include 'includes/pagination.html' %}

{% endblock content %}
