{% extends 'base.html' %}

{% block title %}
    Contact Us
{% endblock title %}

{% block caption %}
    Contact Us
{% endblock caption %}

{% block content %}
  <a class="btn btn-outline-info" href="{% url 'currency:contact-us-create' %}">Create</a><br>

  <div class="row col-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email from</th>
                <th scope="col">Subject</th>
                <th scope="col">Message</th>
                <th scope="col">Created</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">#</th>
                    <td>{{ contactus.id }}</td>
                    <td>{{ contactus.name }}</td>
                    <td>{{ contactus.email_from }}</td>
                    <td>{{ contactus.subject }}</td>
                    <td>{{ contactus.message }}</td>
                    <td>{{ contactus.created }}</td>
                </tr>
            </tbody>
        </table>
  </div>

{% endblock content %}
