{% extends 'base.html' %}

{% block title %}
    Contact Us
{% endblock title %}

{% block caption %}
    Contact Us
{% endblock caption %}

{% block content %}

<thead>
  <tr bgcolor="yellow">
    <th>Id</th>
    <th>Email from</th>
    <th>Subject</th>
    <th>Message</th>
    <th>Update</th>
  </tr>
</thead>

<tbody>
{% for contact in contact_us %}
  <tr>
    <td>{{ contact.id }}</td>
    <td>{{ contact.email_from }}</td>
    <td>{{ contact.subject }}</td>
    <td>{{ contact.message }}</td>
    <td><a href="/contact-us/update/{{ contact.id }}/">Update</a></td>
  </tr>
{% endfor %}
</tbody>

{% endblock content %}
