{% extends 'base.html' %}

{% block title %}
    Contact Us
{% endblock title %}

{% block caption %}
    Contact Us
{% endblock caption %}

{% block content %}
  <a href="{% url 'currency:contact-us-create' %}">Create</a><br>

<thead>
  <tr bgcolor="yellow">
    <th>Id</th>
    <th>Name</th>
    <th>Email from</th>
    <th>Subject</th>
    <th>Message</th>
    <th>Created</th>
  </tr>
</thead>

<tbody>
  <tr>
    <td>{{ contactus.id }}</td>
    <td>{{ contactus.name }}</td>
    <td>{{ contactus.email_from }}</td>
    <td>{{ contactus.subject }}</td>
    <td>{{ contactus.message }}</td>
    <td>{{ contactus.created }}</td>

  </tr>
</tbody>

{% endblock content %}
