{% extends 'base.html' %}

{% block title %}
    Rates
{% endblock title %}

{% block caption %}
    Rates
{% endblock caption %}

{% block content %}
  <a href="{% url 'currency:rate-create' %}">Create</a><br>

<thead>
  <tr bgcolor="yellow">
    <th>Id</th>
    <th>Buy</th>
    <th>Sell</th>
    <th>Currency</th>
    <th>Details</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
</thead>

<tbody>
{% for rate in object_list %}
  <tr>
    <td>{{ rate.id }}</td>
    <td>{{ rate.buy }}</td>
    <td>{{ rate.sell }}</td>
    <td>{{ rate.currency }}</td>
    <td><a href="{% url 'currency:rate-details' rate.id %}">Details</a></td>
    <td><a href="{% url 'currency:rate-update' rate.id %}">Update</a></td>
    <td><a href="{% url 'currency:rate-delete' rate.id %}">Delete</a></td>
  </tr>
{% endfor %}
</tbody>

{% endblock content %}
