{% extends 'base.html' %}

{% block title %}
    Source
{% endblock title %}

{% block caption %}
    Source
{% endblock caption %}

{% block content %}
  <a href="{% url 'currency:source-create' %}">Create</a><br>

<thead>
  <tr bgcolor="yellow">
    <th>Id</th>
    <th>Source URL</th>
    <th>Name</th>
    <th>Details</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
</thead>

<tbody>
{% for source in object_list %}
  <tr>
    <td>{{ source.id }}</td>
    <td>{{ source.source_url }}</td>
    <td>{{ source.name }}</td>
    <td><a href="{% url 'currency:source-details' source.id %}">Details</a></td>
    <td><a href="{% url 'currency:source-update' source.id %}">Update</a></td>
    <td><a href="{% url 'currency:source-delete' source.id %}">Delete</a></td>
  </tr>
{% endfor %}
</tbody>

{% endblock content %}
