{% extends 'base.html' %}

{% block title %}
    Source
{% endblock title %}

{% block caption %}
    Source
{% endblock caption %}

{% block content %}
  <a href="/source/create">Create</a><br>

<thead>
  <tr bgcolor="yellow">
    <th>Id</th>
    <th>Source URL</th>
    <th>Name</th>
    <th>Number</th>
  </tr>
</thead>

<tbody>
  <tr>
    <td>{{ source.id }}</td>
    <td>{{ source.source_url }}</td>
    <td>{{ source.name }}</td>
    <td>{{ source.number }}</td>
  </tr>
</tbody>

{% endblock content %}
