{% extends 'base.html' %}

{% block title %}
    Source
{% endblock title %}

{% block caption %}
    Source
{% endblock caption %}

{% block content %}
  <a class="btn btn-outline-info" href="{% url 'currency:source-create' %}">Create</a><br>

  <div class="row col-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Logo</th>
                <th scope="col">Source URL</th>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">#</th>
                    <td>{{ source.id }}</td>
                    <td><img src="{{ source.logo_url }}" class="img-fluid img-thumbnail" alt="BankLogo" width="50"></td>
                    <td>{{ source.source_url }}</td>
                    <td>{{ source.name }}</td>
                    <td>{{ source.number }}</td>
                </tr>
            </tbody>
        </table>
  </div>

{% endblock content %}
